#welcomeSection {
  background-color: #ffa07a7e;
}

#loggingSection {
    background-color: #fafad2;
}
#viewingSection {
    background-color: #e0ffff;
}
.welcome-container{
  text-align: center;
}
.welcome-container img {
padding: 20px;
}
.navbar-buttons {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 10px; /* Adjust this value as needed */
  justify-items: center;
  align-items: center;
  padding: 10px; /* Adjust this value as needed */
  list-style: none; /* Remove bullet points from the buttons */
  margin: 0; /* Remove default margin from the ul */
}
.select-viewDropdown, .select-logDropdown {
    min-width: 150px; /* Adjust this value as needed */
    width: auto;
    margin: 10px;
  }
  .date-chooser {
    margin: 10px;
  }
  
  .note-area {
    width: 300px;
    margin: 10px;
  }
  .categoryContainer {
    padding: 5px;
    margin: 5px;
  }
  .log-form h5 {
    padding-top: 1em;
  }
  .notesContainer {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
.notesContainer label {
    align-self: flex-start;
}
.log-form {
    /* Add these styles to your existing .log-form styles */
    display: flex;
    flex-direction: column;
    align-items: flex-start; /* Align items to the left edge */
    
  }
  .button-div {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px; /* Adjust this value as needed */
  justify-items: center;
  align-items: center;
  padding: 20px; /* Adjust this value as needed */
  }
 
  .view-sessions {
    padding: 10px;
  }
  
/* Modal styles */
.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
}

#notes-ul {
  list-style-type: none;
  margin-left: 0;
  padding-left: 0;

}

.modal-content{
  background-color: #fff;
  margin: 10% auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
  box-shadow: 0px 0px 10px 0px #888;
}

.close {
  float: right;
  cursor: pointer;
}
.category-label {
    font-weight: bold;
}
.content-p {
    font-size: large;
}

@media (max-width: 768px) {
    .select-viewDropdown, .select-logDropdown {
        width: 100%; /* Use full width on smaller screens */
        min-width: initial; /* Reset min-width */
    }

    .notesContainer {
        align-items: center; /* Center align on smaller screens */
    }

    .note-area {
        width: 100%; /* Use full width on smaller screens */
    }
}
.footer {
  padding: 20px; /* Add padding to create distance between outer edges */
  
}

.footer-text {
  margin: 10px 0; /* Add margin to create space above and below each <p> element */
}
